* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

body {
    background-image: url("../img/pastel-colors-abstract.jpg");

}


.container {
    width: 100%;
    margin: 115px 50px 5px 5px;
    /* margin-left: 0px;
    margin-right: 50px; */
    
    padding: 1em 1em;


    display: flex;

    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;


}



.volta{


    background-color: var(--bg);

    margin: 20px 50px 20px 0;
    width: 600px;
    height: 600px;
    border: 3px solid var(--strk);
    border-radius: 10px;
    padding: 1em 1em;
    
}

.volta p{
    padding: 0px  0px 30px 0px;
}

.container p,
h2{
    padding-top: 55px;
    text-align: center;

}

.container p{
font-size: 20px;

}

.container h2{
    padding: 0px 0px 0px 0px;
    font-size: 30px;

}


.carrossel {
    z-index: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 100%;    
    border-radius: 15px;
    width: 400px;
}

.carrosselcont{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carrosselcont img{

    object-fit: cover;
    height: 400px;
}

.volta2 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
}

