body{
	background-color: #1d3557;
	color: white;
	font-family: Comic Sans MS;
	text-align: center;
}


h1{
	font-family: Comic Sans MS;
	background-color: #d62828;
	text-align: center;
	width: 25%;
}
table tr {
		margin-left: 10px;
}
table{
		padding-left: 10px;
		padding: 10px;
		text-align: center;

}

.txtDestaque{
	font-size: 90px;
	font-weight: 200;
	color: red;
}

.txtPequeno{
	color: blue;
}